In [5]:
# session creation

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("CreditCards").getOrCreate()

24/12/21 22:58:16 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [65]:
# Reading csv files, de duplicate

# Wildcard loading , creates single DF from multiple files, loads data in parallel.
df = spark.read.format('csv').option("header", "true").option('InferSchema',True).load('/home/ranjith/Downloads/archive/*csv')

print('count before removing duplicates',df.count())

# removing duplicate rows
df = df.dropDuplicates()

print('count after removing duplicates',df.count())
df.show(1)

count before removing duplicates 569614

count after removing duplicates 283726

[Stage 682:============================>                            (2 + 2) / 4]

+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
|Time|                V1|               V2|              V3|               V4|               V5|              V6|               V7|             V8|                V9|               V10|              V11|              V12|               V13|              V14|              V15|               V16|               V17|               V18|               V19|               V20|               V21|              V22|               V23|                V24|               V25|               V26|                V27|               V28|Amount|Class|
+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
|26.0|-0.529912284186556|0.873891581460326|1.34724732930113|0.145456676582257|0.414208858362661|0.10022309405219|0.711206082959649|0.1760659570625|-0.286716934699997|-0.484687683196852|0.872489590125871|0.851635859904339|-0.571745302934562|0.100974273045751|-1.51977183258512|-0.284375978261788|-0.310523584869201|-0.404247868800905|-0.823373523914155|-0.290347610865436|0.0469490671140629|0.208104855076299|-0.185548346773547|0.00103065983293288|0.0988157011025622|-0.552903603040518|-0.0732880835681738|0.0233070451077205|  6.14|    0|
+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
only showing top 1 row

In [20]:
# Data Exploration
# Size of the DF

rows = df.count()
cols = len(df.columns)

print(f"DF having {rows} rows and {cols} columns")

[Stage 89:=============================>                            (2 + 2) / 4]

DF having 283726 rows and 31 columns

In [31]:
# checking for null / missing values
from pyspark.sql.functions import col, sum

null_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

null_counts.show()

[Stage 135:============================>                            (2 + 2) / 4]

+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+
|Time| V1| V2| V3| V4| V5| V6| V7| V8| V9|V10|V11|V12|V13|V14|V15|V16|V17|V18|V19|V20|V21|V22|V23|V24|V25|V26|V27|V28|Amount|Class|
+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+
|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|     0|    0|
+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+

In [66]:
# Statistics 
from pyspark.sql.functions import col, mean, stddev, min, max

# column wise statistics
df.describe().show()

# Amount column statistics
df.select(
    mean("Amount").alias("Mean_Amount"),
    min("Amount").alias("Min_Amount"),
    max("Amount").alias("Max_Amount"),
    stddev("Amount").alias("StdDev_Amount")
).show()

+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+
|summary|              Time|                  V1|                  V2|                  V3|                  V4|                  V5|                  V6|                  V7|                  V8|                  V9|                 V10|                 V11|                 V12|                 V13|                 V14|                 V15|                 V16|                 V17|                 V18|                 V19|                 V20|                 V21|                 V22|                 V23|                 V24|                 V25|                 V26|                 V27|                 V28|            Amount|               Class|
+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+
|  count|            283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|              283726|            283726|              283726|
|   mean| 94811.07759951502|0.005917149836166...|-0.00413475562812...|0.001613119355878...|-0.00296630772034...|0.001827560113032847|-0.00113948818973...|0.001800691765307...|-8.54452573453876...|-0.00159619962170...|-0.00144071048503...|2.017576399587971...|-7.14787657405844E-4|6.033757913237318E-4|2.523173005216604E-4|0.001042838049814...|0.001162012815673...|1.701609445485151...|0.001515166010458...|-2.64263587519032...|1.871752473165260...|-3.70593123359157...|-1.50275631649892...|1.981707238115089...|2.142068242224124...|-2.32386989607557E-4|1.494410878995642...|0.001763031617330...|5.473121010899007E-4| 88.47268731101789|0.001667101358352777|
| stddev|47481.047890619346|  1.9480261416254743|  1.6467029642463489|  1.5086819162059166|   1.414184014447514|  1.3770082792800915|  1.3319305917151598|  1.2276638954422607|  1.1790544275788073|  1.0954924810736137|  1.0764073501381097|  1.0187201526753222|  0.9946744452140558|  0.9954296367703033|  0.9522150900331066|  0.9148936334525594|  0.8736963275712365|  0.8425073207466568|  0.8373775297813788|  0.8133785531048054|  0.7699842414107966|  0.7239093668620514|  0.7245504654239998|   0.623702378580731|  0.6056266981643231|  0.5212203166871472| 0.48205294082758093|  0.3957438809320338| 0.32802660429357794|250.39943711577322|0.040796176259338485|
|    min|               0.0|    -56.407509631329|   -72.7157275629303|   -48.3255893623954|   -5.68317119816995|   -113.743306711146|   -26.1605059358433|   -43.5572415712451|   -73.2167184552674|   -13.4340663182301|   -24.5882624372475|   -4.79747346479757|   -18.6837146333443|   -5.79188120632084|   -19.2143254902614|   -4.49894467676621|   -14.1298545174931|   -25.1627993693248|   -9.49874592104677|   -7.21352743017759|    -54.497720494566|   -34.8303821448146|    -10.933143697655|   -44.8077352037913|   -2.83662691870341|   -10.2953970749851|   -2.60455055280817|   -22.5656793207827|   -15.4300839055349|               0.0|                   0|
|    max|          172792.0|    2.45492999121121|    22.0577289904909|    9.38255843282114|    16.8753440335975|    34.8016658766686|    73.3016255459646|    120.589493945238|    20.0072083651213|    15.5949946071278|    23.7451361206545|    12.0189131816199|     7.8483920756446|    7.12688295859376|    10.5267660517847|    8.87774159774277|    17.3151115176278|    9.25352625047285|    5.04106918541184|    5.59197142733558|    39.4209042482199|    27.2028391573154|    10.5030900899454|    22.5284116897749|    4.58454913689817|    7.51958867870916|     3.5173456116238|    31.6121981061363|    33.8478078188831|          25691.16|                   1|
+-------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+

[Stage 691:============================>                            (2 + 2) / 4]

+-----------------+----------+----------+------------------+
|      Mean_Amount|Min_Amount|Max_Amount|     StdDev_Amount|
+-----------------+----------+----------+------------------+
|88.47268731101789|       0.0|  25691.16|250.39943711577322|
+-----------------+----------+----------+------------------+

In [48]:
# median of the columns using percentile_approx function (this is suitable for large data).

from pyspark.sql.functions import col,expr

#function to calculate median of each column.
def calculate_median_spark_native(df, column):
    # null values filtered
    median = df.filter(col(column).isNotNull()).select(
        expr(f"percentile_approx({column}, 0.5)").alias("median")
    ).collect()[0]["median"]
    return median

# creating empty dictionary
median_results = {}

# Calculate median for every column
for column in df.columns:
    median_results[column] = calculate_median_spark_native(df, column)

# Output the median values for each column
for column, median in median_results.items():
    print(f"Median for {column}: {median}")

[Stage 567:>                                                        (0 + 4) / 4]

Median for Time: 84681.0
Median for V1: 0.0201435755087573
Median for V2: 0.0637941997421073
Median for V3: 0.179871147511258
Median for V4: -0.0224219695555284
Median for V5: -0.0536312510232358
Median for V6: -0.275358573562355
Median for V7: 0.0407401875880306
Median for V8: 0.0218575949616256
Median for V9: -0.0525956513955632
Median for V10: -0.0933317436055039
Median for V11: -0.0323385470334912
Median for V12: 0.138996143050385
Median for V13: -0.0129937551085427
Median for V14: 0.0500901541828535
Median for V15: 0.049184212432686
Median for V16: 0.0670268080034959
Median for V17: -0.0659678076478633
Median for V18: -0.0022405035283073
Median for V19: 0.00330335625186285
Median for V20: -0.0623879623178263
Median for V21: -0.0295078434834623
Median for V22: 0.00666190163775685
Median for V23: -0.0111704465132397
Median for V24: 0.0409487542693962
Median for V25: 0.0162138522088198
Median for V26: -0.0522052302313139
Median for V27: 0.00145992468138233
Median for V28: 0.0112768909078317
Median for Amount: 22.0
Median for Class: 0

In [67]:
# mode of columns
from pyspark.sql.functions import col,sum

# creating empty list
mod_col_data = []

# looping through every column to get the mode of that column
for col_name in df.columns:
    mode_df = df.groupBy(col(col_name)).count().orderBy('count',ascending=False).limit(1)
    mode = mode_df.collect()[0][0]
    mod_col_data.append((col_name,mode))

print(mod_col_data)

[Stage 877:==============>                                          (1 + 3) / 4]

[('Time', 3767.0), ('V1', 2.05579700630039), ('V2', 0.166975019545401), ('V3', 0.488305742562781), ('V4', 0.6353219207244), ('V5', -0.562776680773863), ('V6', -1.01107261632698), ('V7', 0.0149526614685896), ('V8', -0.160210863301812), ('V9', 0.608605870267216), ('V10', -0.0445745893804268), ('V11', -0.35674901847752), ('V12', 0.350563573253678), ('V13', -0.517759694198053), ('V14', 0.690971618395625), ('V15', 1.2752570390935), ('V16', 0.342469754110769), ('V17', -0.601956802828445), ('V18', -0.0526401462570187), ('V19', -0.330590448442944), ('V20', -0.180370118559693), ('V21', 0.269764951361357), ('V22', -0.816263763157847), ('V23', 0.140304302014326), ('V24', 0.726211883811499), ('V25', 0.366624307004913), ('V26', -0.398827514959463), ('V27', 0.0277351215052822), ('V28', 0.0184945729704665), ('Amount', 1.0), ('Class', 0)]

In [59]:
# Data cleaning
from pyspark.sql.functions import col,sum

#dropping rows having nulls
df_cleaned = df.dropna()

# removing duplicate records
df_cleaned = df_cleaned.dropDuplicates()

df_cleaned.show(1)

[Stage 636:============================>                            (2 + 2) / 4]

+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
|Time|                V1|               V2|              V3|               V4|               V5|              V6|               V7|             V8|                V9|               V10|              V11|              V12|               V13|              V14|              V15|               V16|               V17|               V18|               V19|               V20|               V21|              V22|               V23|                V24|               V25|               V26|                V27|               V28|Amount|Class|
+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
|26.0|-0.529912284186556|0.873891581460326|1.34724732930113|0.145456676582257|0.414208858362661|0.10022309405219|0.711206082959649|0.1760659570625|-0.286716934699997|-0.484687683196852|0.872489590125871|0.851635859904339|-0.571745302934562|0.100974273045751|-1.51977183258512|-0.284375978261788|-0.310523584869201|-0.404247868800905|-0.823373523914155|-0.290347610865436|0.0469490671140629|0.208104855076299|-0.185548346773547|0.00103065983293288|0.0988157011025622|-0.552903603040518|-0.0732880835681738|0.0233070451077205|  6.14|    0|
+----+------------------+-----------------+----------------+-----------------+-----------------+----------------+-----------------+---------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+-------------------+------------------+------+-----+
only showing top 1 row

In [60]:
# Data Transformation: NormalizedAmount column added.
from pyspark.sql.functions import col

# Amount column statistics
df_temp = df_cleaned.select(
    mean("Amount").alias("Mean_Amount"),
    min("Amount").alias("Min_Amount"),
    max("Amount").alias("Max_Amount"),
    stddev("Amount").alias("StdDev_Amount")
)

# extracting mean from above statistics df
Mean_Amount = df_temp.select('Mean_Amount').collect()[0][0]

# extracting standard deviation from above statistics df
StdDev_Amount = df_temp.select('StdDev_Amount').collect()[0][0]

# adding new column "NormalizedAmount" 
df_col_added = df_cleaned.withColumn("NormalizedAmount",(col('Amount')-Mean_Amount)/StdDev_Amount)

# showing sample data
df_col_added.select('Amount','NormalizedAmount').show(1)

[Stage 651:>                                                        (0 + 4) / 4]

+------+--------------------+
|Amount|    NormalizedAmount|
+------+--------------------+
|  6.14|-0.32880540092009486|
+------+--------------------+
only showing top 1 row

In [61]:
# Mathematical Transformation: 
# adding column 

from pyspark.sql.functions import log, col

# adding column "AmountLog"
df_col2_added = df_col_added.withColumn('AmountLog',log(col('Amount')+1))

# showing sample data
df_col2_added.select('Amount','AmountLog').show(1)

[Stage 654:============================>                            (2 + 2) / 4]

+------+-----------------+
|Amount|        AmountLog|
+------+-----------------+
|  6.14|1.965712776351493|
+------+-----------------+
only showing top 1 row

In [62]:
# File Conversion

# writing as parquet format to compress it and also to improve query performance.
df_col2_added.write.format("parquet").mode('overwrite').save('/home/ranjith/creditCardResultDf')

# reading the file back to spark df.
parquet_df = spark.read.format('parquet').load('/home/ranjith/creditCardResultDf')

parquet_df.show(1)

+----+------------------+----------------+----------------+-----------------+-----------------+------------------+---------------+------------------+-----------------+----------------+----------------+-----------------+----------------+-------------------+----------------+-----------------+------------------+-----------------+----------------+-----------------+-------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+------------------+------+-----+--------------------+-----------------+
|Time|                V1|              V2|              V3|               V4|               V5|                V6|             V7|                V8|               V9|             V10|             V11|              V12|             V13|                V14|             V15|              V16|               V17|              V18|             V19|              V20|                V21|              V22|               V23|                V24|               V25|               V26|               V27|               V28|Amount|Class|    NormalizedAmount|        AmountLog|
+----+------------------+----------------+----------------+-----------------+-----------------+------------------+---------------+------------------+-----------------+----------------+----------------+-----------------+----------------+-------------------+----------------+-----------------+------------------+-----------------+----------------+-----------------+-------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+------------------+------+-----+--------------------+-----------------+
|50.0|-0.571520749961747|1.07160044939815|1.28011024961142|0.542780003052458|0.574438986516567|-0.259359265830457|1.0611484151742|-0.410971967925814|-0.17913018113825|1.00350065764887|1.06238226849436|0.159422388058099|-0.2898603137468|0.00580474635482856|0.46044095320685|-0.22103526461389|-0.775852454545776|0.657023315008206|0.80758291868891|0.354730634765855|0.00355852008044498|0.561240486431022|-0.199286719692043|0.00138738938225278|-0.179529951929609|-0.374115725753305|0.0716414539902948|-0.175510468698003|  9.79|    0|-0.31422869083622834|2.378619779270043|
+----+------------------+----------------+----------------+-----------------+-----------------+------------------+---------------+------------------+-----------------+----------------+----------------+-----------------+----------------+-------------------+----------------+-----------------+------------------+-----------------+----------------+-----------------+-------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+------------------+------+-----+--------------------+-----------------+
only showing top 1 row

In [64]:
# SQL Querying: 

# creating temporary view to perform sql operations.
parquet_df.createOrReplaceTempView("parquet_df_view")

# What is the average normalized amount in fraudulent transactions?

spark.sql('''
SELECT AVG(NormalizedAmount) AS avg_normalized_amount
FROM PARQUET_DF_VIEW
WHERE CLASS = '1'
''').show()

# What is the maximum normalized amount in non-fraudulent transactions?

spark.sql('''
SELECT MAX(NormalizedAmount) AS max_normalized_amount
FROM PARQUET_DF_VIEW
WHERE CLASS = '0'
''').show()

+---------------------+
|avg_normalized_amount|
+---------------------+
|  0.14137081760983125|
+---------------------+

+---------------------+
|max_normalized_amount|
+---------------------+
|   102.24738365067279|
+---------------------+